@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: 50em) { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

  }
}
