.block {
  background-color: #CCC;
  text-align: center;
  // height: 80px;
  &, a {
    display: block;
  }
}
  .block__title {
    line-height: 30px;
    height: 60px;
    margin: 0;
  }
  .block__content {
    padding: 20px;
  }


.block--white {
  background-color: white;
}

.block--inset {
  padding: 20px;
}