.button {
  background-color: #606771;
  color: white;
  white-space: nowrap;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {
    background-color: #525963;

  }
}