.dropdown {
  position: relative;
  display: inline-block;

  &.dropdown--show {
    .dropbtn {
      background-color: #464c54;
    }

    .dropdown__content {
      display: block;
    }
  }
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown__content-button {
  color: black;
  padding: 12px 16px;
  white-space : nowrap;
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 200ms;

}

.dropdown__content a:hover {background-color: #f1f1f1}