.event-row {
}

.event-row__block {
  width: 100%;

}
.event-row__block-title {

}

.event-row__block-subtitle {
  opacity: 0.6;
  margin-top: 10px;
}

.event-row__block-title {
  margin: 0;

}

.event-row__title {

}

@include breakpoint(mobileonly) {
  .mobile--one-half {
    width: 50%;
  }

  .event-row, .event-row__block {
    display: block;
    margin: 0;
  }
}
