.grid {
  margin: 0 -5px 0 -5px;
  vertical-align: top;
}

.grid__item {
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

}

.row {
  width: 100%;
  overflow: hidden;
}

.col {
  display: inline-block;
}

.full {
  width: 100%;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.3333%;
}

.one-fourth {
  width: 25%;
}

.one-fifth {
  width: 20%;
}

@include breakpoint(mobileonly) {
  .mobile--one-half {
    width: 50%;
  }

  .mobile--full {
    width: 100%;
  }

  .grid--mobile-collapse {
    margin: 0;
    .grid__item {
      padding: 5px 0;
    }
  }
}

@include breakpoint(laptop) {
  .laptop--one-third {
    width: 33.333%;
  }

  .laptop--full {
    width: 100%;
  }
}