.header {
  background-color: #2f2f33;
  padding: 20px;
  position: fixed;
  top: 0;
}

.header__title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 21px;
  font-size: 20px;

}