* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


body {
  background-color: #EEE;
  margin: 0;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: #225d71;
  opacity: 1;
  transition: opacity 120ms;
  &:hover {
    opacity: 0.5;
  }

}